<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h1>Hello, {{user.email}}</h1>
<a href="/search">Click here for to search a Twitter handle and see who their most recent followers are!</a>
<br>
</br>
<!--<img src = "/static/Twitter2.jpg"/>-->
<h1>Upload new Profile Picture</h1>
<h2>Image can be in png format only </h2>
    <form method=post enctype=multipart/form-data action="/upload_file">
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>

<button onclick="existsProfPic()">Check whether profile picture already exists</button>

<script>
function existsProfPic () {
var request = $.ajax({
  method: "GET",
  url: "/get_profile_picture",
  dataType: "json"
});

request.done(function( data ) {
  if (data.hasPic) {
  	alert("You have already uploaded a profile pic!")
  }
  else {
  	alert("No profile picture for you yet!")
  }
});
 
}

</script>